{
  "extends": "../.eslintrc",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "prefer-arrow-callback": [2],
    "prefer-const": [2],
    "prefer-reflect": [2, {"exceptions": ["delete"]}],
    "prefer-template": [2],
    "prefer-spread": [2],
    "object-shorthand": [0],
    "object-curly-spacing": [0],
    "arrow-parens": [2, "always"],
    "arrow-spacing": [2, {"before": true, "after": true}],
    "constructor-super": 2,
    "generator-star-spacing": [2, "before"],
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "max-nested-callbacks": [1, 5]
  }
}
