{
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [2, "single"],
    "indent": [2, 2, {"indentSwitchCase": true}],
    "valid-jsdoc": [2, {
        "requireReturn": false,
        "prefer": {
            "returns": "return"
        }
    }]
  }
}
