# AppVeyor file
# http://www.appveyor.com/docs/appveyor-yml

version: "{build}"

environment:
  matrix:
    - nodejs_version: "0.12"
    - nodejs_version: "1"
    - nodejs_version: "2"
    - nodejs_version: "3"
    - nodejs_version: "4"
    - nodejs_version: "5"
    - nodejs_version: "6"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version && npm --version
  - npm test

build: off

matrix:
  fast_finish: true

cache:
  - '%AppData%\npm-cache -> package.json' # npm cache
